
.Profilkomponente {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: stretch;
}


.Neuigkeiten {
    overflow: scroll;

}

.news-button {
    width: 100px;
    height: 20px;
    border-radius: 6px;
    border: none;
    background-color: #1da1f2;
    color: white;
}
.Profilbild-Begruessung{
    display: flex;
    align-items: center;
}

.begrussung-text {
    margin-left: 30px;
    font-size: 50px;
    color: forestgreen;
}

#namen {
    margin-top: 10px;
    color: black;
}

.news {
    font-size: 20px;
}

