.smiley {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smileyWort {
    position:absolute;
    text-align: center;
    bottom: 0;
    font-size: 0.8rem;
}

.smileyIcon {
    cursor: pointer;
    width: 60%;
    margin-bottom: 40px;
}