.Stimmungskomponente{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto 4fr;
    grid-template-areas:
            'stimmungBody'
            'stimmungFooter';
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.stimmungsBodyContainer {
    padding: 20px; /*weniger padding, damit es auch auf mobile first funktioniert*/
    border: 2px solid black;
    border-radius: 40px;
}

.stimmungsBody {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-areas:
            'aktuellerSmiley kommentar kommentar kommentar kommentar';
    justify-content: center;
    align-items: center;
}

.aktuellerSmileyContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.aktuellerSmiley{
    width: 120px;
}

.aktuellesStimmungsWort{
    text-align: center;
}

.stimmungsDetails {
    margin-left: 20px;
}

.erstellungsZeit {
    font-size: 0.7rem;
}

.aktuellerKommentar {
    text-align: center;
    font-size: 1.2rem;
}
.stimmungFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
}

.StimmungErstellenStatus{
    left: 15px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    height: 80px;
    opacity: 0.7;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 0.7rem;
    text-align: left;
    z-index: 1;
    word-break: break-word;
}

.smileyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.smileyIcon:hover {
    transform: scale(1.2);
}

.kommentarErstellen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.kommentarInput {
    align-self: center;
    justify-self: center;
    width: 85%;
    border-radius: 15px;
    padding-left: 15px;
    height: 50px;
    margin: 0;
}

.kommentarButton {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/moritzrose/StimmungImages/main/papierflieger.png");
    background-size: cover;
    background-color: white;
    border: none;
}

.kommentarButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.kommentarInput {
    align-self: center;
    width: 80%;
    border-radius: 15px;
    padding-left: 15px;
    height: 30px;
}
