.kryptonitHeader {
    height: auto;
    margin-bottom: 20px;
}

.kryptonitBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    flex-grow: 1;
    justify-content: space-between;
}

.kryptonitBezeichnung{
    word-break: break-word;
}

.kryptonitSlideBar {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5a9f1d, #ffff80 50%, #ff442c);
    outline: none; /* Remove outline */
    border: #8f8f8f 2px solid;
    justify-self: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(152, 152, 152, 0.4);
}

.kryptonitSlideBar:hover {
    cursor: pointer;
}

.kryptonitSlideBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #ffffff, #e0e0e0); /* Button gradient */
    border: 1px solid #000; /* Button border color */
    border-radius: 50%; /* Button border radius to create a circle */
    cursor: pointer;
}

.kryptonitLöschen {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.kryptonitenListe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 320px;
    overflow-y: auto;
    margin-bottom: 20px;
    justify-content: flex-start; /*damit die oberen Elemente nicht beim Scrollen verschwinden*/
}

.kryptonitEintrag{
    bottom: 0;
    width: 100%;
}

.kryptonitErstellen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.kryptonitInput {
    margin: 0;
    align-self: center;
    justify-self: center;
    width: 85%;
    border-radius: 15px;
    padding-left: 15px;
    height: 50px;
}

.kryptonitButton {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/moritzrose/StimmungImages/main/plusrot.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
}

.kryptonitButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: lightgray;
}


.kryptonit {
    margin: 1rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: #ffffff 1px solid;
    padding: 2px;
}

@media(min-width: 768px) {
    .kryptonit {
        display: grid;
        grid-template-columns: 1fr auto 1fr 0.25fr;
        gap: 4px;
        grid-template-rows: 1fr;
        grid-template-areas:
            'kryptonitBezeichnung kryptonitSlideBar kryptonitStatustext kryptonitLöschen';
    }
}

.kryptonit:hover {
    background-color: #e3e3e3;
    cursor: pointer;
    border: #bbbbbb 1px solid
}

.kryptonitStatustext {
    justify-self: left;
}