.kryptonitHeader {
    height: auto;
}
.kryptonitBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
            'kryptonitenListe'
            'kryptonitErstellen';
    gap: 5px;
    justify-content: center;
}

.kryptonitenListe {
    max-height: 220px;
    overflow-y: auto;
}

.kryptonitErstellen {
    align-self: center;
    justify-self: center;
    width: 85%;
    border-radius: 15px;
    padding-left: 15px;
    height: 50px;
}

.kryptonit {
    margin: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: 1fr 2fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            'kryptonitBezeichnung kryptonitSlideBar kryptonitSlideBar kryptonitStatustext kryptonitLöschen';
}

.kryptonitStatustext {
    text-align: center;
}