.container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    max-width: 70%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #9bc472, 0 12px 20px #9bc472;
    background-color: #cbf6db;
    padding: 50px;
}

.login-container {
    border: 1px solid #9bc472;
    align-items: center;
    background-color: #e6fff5;
    box-sizing: border-box;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.image {
    max-width: 80%;
    height: auto;
}

.title {
    text-align: center;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.line {
    border-top: 1px solid #a9a6a6;
    width: 80%;
}

.inputLogin {
    border: 1px solid #9bc472;
    padding: 15px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 20px;
}

h2{
    margin-bottom: 15px;
}

.inputLoginModal {
    border: 1px solid #9bc472;
    padding: 15px;
    margin-bottom: 15px;
    width: 20%;
    border-radius: 20px;
}

.geschlecht{
    padding: 15px;
    width: 20%;
}

.login-button {
    background-color: #9bc472;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 20px;
}

.myBtn {
    background-color: rgb(211, 81, 81);
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: 200px;
    border-radius: 20px;
}

.myBtn:hover {
    color: white;
    background-color: rgb(211, 81, 81);

}

.login-button:hover {
    color: #000;
    background-color: #cbf6db;
    border: 1px solid #9bc472;
}

#error-box-login {
    color: red;
    margin-top: 10px;
}

.modal {
    position: fixed;
    inset: 120px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 4px 6px #9bc472, 0 12px 20px #9bc472;
    background-color: rgba(203, 246, 219, 1.0);
    overflow: auto;
    border-radius: 50px;
    outline: none;
    padding: 20px;
    max-width: 70%;
    max-height: 80%;
}

.modal-button {
    background-color: #9bc472;
    color: white;
    font-weight: bold;
    border: 1px solid #5b8f26;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;
    width: 200px;
    border-radius: 20px;
}

.modal-button:hover{
    color: #000;
    border: 1px solid #9bc472;
}

#geschlecht {
    width: 20%;
    height: 45px;
    padding-left: 15px;
    border-radius: 20px;
}

