.balsamHeader {
    height: auto;
}

.balsamContainer {
    display: grid;
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        'balsamListe'
        'balsamListe'
        'balsamListe'
        'balsamErstellen';
    gap: 5px;
}

.balsamErstellen {
     margin: 0 1rem;
     border-radius: 15px;
 }

.balsamListe {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.balsamButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(20% - 10px); /*5 Elemente pro Reihe*/
    width: 100%;
    position: relative;
    height: 80px;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding:50px; /*Platz für den Papierkorb*/
}

.balsamButton:hover{
    background-color: lightgray;
}

.balsamText{
    flex-grow: 1; /* Den Text innerhalb des Buttons flexibel gestalten */
    text-align: center;
    margin-right: 5px;
}

.papierkorb{
    cursor: pointer;
}


