/*####className in der BALSAMKOMPONENTE.js####*/
.balsamHeader {
    height: auto;
    margin-bottom: 20px;
}

.balsamContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    flex-grow: 1;
    justify-content: space-between; /*damit zwischen den Eingaben und dem Eingabefeld Platz ist und das Eingabefeld unten bleibt*/
}

.balsamListe {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 320px;
    overflow-y: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.balsamEintrag{
    bottom: 0;
    width: 100%;
}

.balsamErstellen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.balsamInput {
    margin: 0;
    align-self: center;
    justify-self: center;
    width: 85%;
    border-radius: 15px;
    padding-left: 15px;
    height: 50px;
}

.balsamButton {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/moritzrose/StimmungImages/main/plusgr%C3%BCn.png");
    background-size: 80%; /* Anpassung der Größe des Hintergrundbilds */
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    padding-left: 2px;
}

.balsamButton.korb{
    font-size: 20px;
    background-image: none;
    height: 60%;
}

.balsamButton:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: lightgray;
}

.fehlerMeldung{
    height: 30px;
    color: #ea3d3d;
    padding-left: 10px;
    font-style: italic;
    font-weight: bold;
}

/*####className in der BALSAM.js####*/

.balsamElement{
    position: relative;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 6rem;
}

.balsam{
    cursor: pointer;
    height: 70px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(152, 152, 152, 0.4);
    transition: box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.balsamText{
    word-break: break-all;
    font-family: Courier, serif;
}

.papierkorb{
    display: block;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.balsamElement:hover .papierkorb{
    display: block;
}