#root {
    height: 100%;
    width: 65%;
    font-family: Courier, serif;
}
.Layout {
    border-radius: 20px;
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    justify-content: center;
    background-color: rgba(242, 205, 57, 0.8);
    box-shadow: 5px 5px 20px rgba(242, 205, 57, 0.8);
    gap: 20px;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-template-areas:
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Stimmungskomponente Kryptonitkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente';
    border: 1px solid black;
}

.Komponente {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgb(16, 16, 15), 0 4px 8px rgb(16, 16, 15);
    background-color: #fff;
    padding: 1.5rem;

}

.Profilkomponente {
    grid-area: Profilkomponente;
}
.Balsamkomponente{
    grid-area: Balsamkomponente;
}
.Diagrammkomponente{
    grid-area: Diagrammkomponente;
}
.Kryptonitkomponente{
    grid-area: Kryptonitkomponente;
}
.Stimmungskomponente{
    grid-area: Stimmungskomponente;
}