#root {
    width: 60%;
    height: 100%;
}
.Layout {
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 30px #525252;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    grid-template-areas:
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Profilkomponente Kryptonitkomponente'
            'Stimmungskomponente Kryptonitkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Stimmungskomponente Balsamkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente'
            'Diagrammkomponente Diagrammkomponente';
    border: 1px solid black;
}

.Komponente {
    border: 2px solid black;
    border-radius: 20px;
}

.Profilkomponente {
    grid-area: Profilkomponente;
    padding: 0.5rem;
}
.Balsamkomponente{
    grid-area: Balsamkomponente;
    padding: 0.5rem;
}
.Diagrammkomponente{
    grid-area: Diagrammkomponente;
    padding: 0.5rem;
}
.Kryptonitkomponente{
    grid-area: Kryptonitkomponente;
    padding: 0.5rem;
}
.Stimmungskomponente{
    grid-area: Stimmungskomponente;
    padding: 0.5rem;

}