body {
  background-color: rgb(255, 224, 186);
  font-family: "Century Gothic", sans-serif;
  color: #000000;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}