.navbar {
    background-color: rgba(242, 205, 57, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(255, 217, 84, 1), 0 8px 16px rgba(255, 217, 84, 1);

}

.navbar button {
    background-color: #f8f8e1;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgb(16, 16, 15), 0 8px 16px rgb(16, 16, 15);
}

.navbar button.active {
    background-color: #777;
}

.navbar img {
    max-width: 150px;
    margin: 5px;
    background-color: #f8f8e1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgb(16, 16, 15), 0 8px 16px rgb(16, 16, 15);
}
