.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(51, 51, 51, 0.8);
}

.navbar button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar button.active {
    background-color: #777;
}

.navbar img {
    max-width: 30px;
}
